.slick-dots {
    margin-bottom: -2rem;
}

.slick-dots li button:before {
    opacity: 1;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    width: 300px;
    font-size: .8rem;
}

.images img {
    margin: 0;
    border-radius: 20px;
}