form {
    margin-top: 30px;
}

label {
    font-weight: 600;
    font-size: medium;
    color: #35475B;
}

input {
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}

#result_todo_list {
    padding-left: 0;
}
#result_todo_list > li {
    list-style-type: none;
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    background: #FFFFFF;
    font-size: 18px;
    transition: 0.2s;


    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
}

#result_todo_list > li:hover {
    background-color: #ddd;
}

.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}