header {
    display: flex;
    align-items: center;
    border: 2px solid black;
    background-color: #EEF0EF;
}

ul.navigation_bar {
    list-style-type: none;
}

ul.navigation_bar li {
    display: inline;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    color: #35475B;
}

ul {
    list-style-type: none;
    padding: 10px;
}

aside.menu {
    border-right: 2px solid #35475B;
    padding: 0;
    width: 10%;
    float: left;
    margin-right: 10px;
    margin-inside: 0px;
    flex-shrink: 0;
}

blockquote {
    padding: 10px;
    width: 300px;
    float: right;
}
footer {
    border: 2px solid black;
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    background-color: #B2E5FA;
    flex-shrink: 0;
    display: flex;
    flex-wrap: nowrap;
}

main {
    display: flex;
}
